<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @picture.url %>
</p>

<p>
  <strong>Width:</strong>
  <%= @picture.width %>
</p>

<p>
  <strong>Heigth:</strong>
  <%= @picture.heigth %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
